/*Remove background-color and chocolate borders after everything is in proper place*/

body{
	background-color: LightGray;
}
div{
	border: 1px solid Chocolate;
}

/* Navigation Section */

.top-navigation{
	background-color: #FFF;
}
.top-navigation > .content{
	width: 970px;
	height: 70px;
	margin: 0 auto;	
}